<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Internal error</title>
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/error.css"></link>
	</head>
	
	<body>
		<nav id="menu">
			<ul>
				<li><a href="/productselection">Home</a></li>
				<li><a href="/productselection">Products</a></li>
				<li><a href="/productselection">Catalogue</a></li>
			</ul>
		</nav>
		
		<div id="body">
			<label>Sorry for this inappropriate situation. There is an unexpected error from server. Would you try again in ten minutes?</label>
        </div>
        
        <footer>
        	<label id="labelFooter">© 2017 Private Company</label>
        </footer>
	</body>
</html>