<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Database Error</title>
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
	</head>
	
	<body>
		<nav id="menu">
			<ul>
				<li><a href="/productselection">Home</a></li>
				<li><a href="/productselection">Products</a></li>
				<li><a href="/productselection">Catalogue</a></li>
			</ul>
		</nav>
		
		<div id="body">
			<label style="color: red;" th:text="${message}"></label>
			<a href="javascript:history.back()">Go Back</a>
        </div>
        
        <footer>
        	<label id="labelFooter">© 2017 Private Company</label>
        </footer>
	</body>
</html>