#div1, #div2, #div3 {
	float: left;
	width: 28%;
	height: 73%;
	margin-top: 40px;
	position: relative;
	padding: 14px;
} 
#div1 {
	margin-left: 17px;
}
#div2 {
	margin-left: 3%;
}
#div3 {
	margin-left: 3%;
}
td {
	padding-bottom: 10px;
	padding-top: 8px;
}