<html>
	<head>
		<title>Authentication</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="/js/cookies.js"></script>
	</head>
	
	<body>
		<nav id="menu">
			<ul>
				<li><a href="../productselection">Home</a></li>
				<li><a href="../productselection">Products</a></li>
				<li><a href="../productselection">Catalogue</a></li>
			</ul>
		</nav>
		
		<div id="body">
	        <form method="POST" action="/productselection/customerLocation">
	        	Customer Id:
	        	<input type="text" id="customerId" name="customerId" required="required" />
	            <input type="submit" onclick="setCookie();" />
	        </form>
        </div>
        
        <footer>
        	<label>© 2017 Private Company</label>
        </footer>
	</body>
</html>

<script>
	var key = "customerId";
	var cookie = getCookie(key);
	
	if (cookie != null) {
		document.getElementById(key).value = cookie;
	}
</script>