<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Product Selection</title>
	 	<meta charset="utf-8"></meta>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/productSelection.css"></link>
		<script src="/js/external/jquery-3.1.1.min.js"></script>
		<script src="/js/productSelection.js"></script>
	</head>
	
	<body>
		<nav id="menu">
			<ul>
				<li><a href="/productselection">Home</a></li>
				<li><a href="/productselection">Products</a></li>
				<li><a href="/productselection">Catalogue</a></li>
			</ul>
		</nav>
		
		<div id="body">
			<form method="GET" action="/productselection/confirmationPage/">
				<div id="div1">
					Sports
			    	<table>
						<tr th:each="product : ${availableProducts}">
						    <td th:if="${product.isSportCategory()}">
						        <input type="checkbox" th:name="${product.name}" th:value="${product.id}" th:text="${product.name}" onclick="updateBasket();"></input>
						    </td>
						</tr>
				    </table>
				</div>
				
			    <div id="div2">
			    	News
			    	<table>
						<tr th:each="product : ${availableProducts}">
						    <td th:if="${product.isNewsCategory()}">
						        <input type="checkbox" th:name="${product.name}" th:value="${product.id}" th:text="${product.name}" onclick="updateBasket();"></input>
						    </td>
						</tr>
				    </table>
			    </div>
			    
			    <div id="div3">
			    	Basket
			    	<div id="basketDiv"></div>
			    </div>
			    <input type="hidden" name="customerId" th:value="${customerId}"></input>
			    <input type="submit" value="Checkout" id="checkout"></input>
		    </form>
		</div>
		
        <footer>
        	<label id="labelFooter">© 2017 Private Company</label>
        </footer>
	</body>
</html>

<script>
	updateBasket();
</script>