<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Product selection</title>
	 	<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/productSelection.css" />
	</head>
	
	<body>
		<nav id="menu">
			<ul>
				<li><a href="../productselection">Home</a></li>
				<li><a href="../productselection">Products</a></li>
				<li><a href="../productselection">Catalogue</a></li>
			</ul>
		</nav>
		
		<div id="body">
			<div id="div1">
				Sports
		    	<table>
					<tr th:each="product : ${availableProducts}">
					    <td th:if="${product.isSportCategory()}">
					        <input type="checkbox" th:value="product.name" th:text="${product.name}" />
					    </td>
					</tr>
			    </table>
			</div>
			
		    <div id="div2">
		    	News
		    	<table>
					<tr th:each="product : ${availableProducts}">
					    <td th:if="${product.isNewsCategory()}">
					        <input type="checkbox" th:value="product.name" th:text="${product.name}" />
					    </td>
					</tr>
			    </table>
		    </div>
		    
		    <div id="div3">
		    	Basket
		    </div>
		</div>
	
        <footer>
        	ola footer 2
        </footer>
	</body>
</html>